@import '@fontsource-variable/kumbh-sans';
@import '@fontsource-variable/inter';


@tailwind base;
@tailwind components;
@tailwind utilities;

#sub-nav.active:nth-child(even) {
    background-color: #f1e4ff;
    color: #000000;
    box-shadow: 0 0 10px #ffebeb; 
    font-weight: bold;
  }
  
  #sub-nav.active:nth-child(odd) {
    background-color: #f1e4ff;
    color: #000000; 
    box-shadow: 0 0 10px #ffebeb; 
    font-weight: bold;
  }
  
  